*{
    margin: 2px;
    padding: 2px;
}

body{
    background-color: white;
    color: #353b45;
    font-family: fantasy;
}

.dark-mode {
    background-color: black;
    color: white;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    border-bottom: 20px;
    box-shadow: 0 4px 8px #f53707f1;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
.slides {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
   }
   
.slides img {
    width: auto;
    height: auto;
}
   
.title {
    font-size: 25px;
   }
   
.description, .ingredients {
   font-size: 18px;
}
   
.instructions {
   list-style-type: none;
   padding: 0;
}
   
.instructions li {
   padding: 5px 0;
}
   
.slideshow {
    width: 100%;
    position: relative;
}
   
.slides {
    display: none;
    width: 100%;
    position: relative;
}
   
.slides img {
    width: 50%;
    height: auto;
}
   
.slideshow .active {
    display: inline-block;
}


.btn:hover{
    background-color: #ff4500;
    cursor: pointer;
}

.form {
    position: relative;
    margin: 0px;
    width: 80%; 
    border: 1px solid orange;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px #f53707f1;
}


#recipe-form #description{
    width: 70%;
    height: 80px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

#recipe-form #ingredients{
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

#recipe-form #instructions{
    width: 100%;
    height: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

#recipe-form #image{
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.delete-btn:hover{
    background-color: #ff4500;
}